.clickable {
  cursor: pointer;
}
th.clickable:hover {
  background-color: #ddd;
}

.mod-thumbnail {
  height: 128px;
  width: 128px;
}

.version-choice {
  margin: 20px;
  width: 440px;
  height: 220px;
  border: 2px solid darkgray;
}