<h3 ng-if="modListCtl.loading">Loading mods... ({{modListCtl.mods.length}})</h3>

<div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" ng-model="searchString" />
    </div>
</diV>

<table class="table table-striped">
    <thead>
        <tr>
            <th ng-click="orderObj = 'id'">#</th>
            <th ng-click="orderObj = 'title'">Title</th>
            <th ng-click="orderObj = 'creator'">Creator</th>
            <th ng-click="orderObj = 'rating'">Rating</th>
            <th ng-click="orderObj = 'votes'">Votes</th>
            <th ng-click="orderObj = 'label'">Label</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="mod in modListCtl.mods | filter: searchString | orderBy: orderObj">
            <td><iframe src="https://localhost" scrolling="no" ng-src="{{mod.imageUrl}}" style="height: 256px; width: 256px; overflow: hidden"></iframe></td>
            <td><a ng-href="https://farming-simulator.com/mod.php?lang=en&country=us&title=fs2017&mod_id={{mod.id}}">{{mod.title}}</a></td>
            <td>{{mod.creator}}</td>
            <td>{{mod.rating}}</td>
            <td>{{mod.votes}}</td>
            <td>{{mod.label}}</td>
            <td><button ng-click="modListCtl.downloadMod(mod)">Download (experimental)</button></td>
        </tr>
    </tbody>

</table>